<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets '@bootstrap_less' combine=true %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}

        {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        <style>
            body {
                padding-top: 50px;
            }
            .starter-template {
                padding: 40px 15px;
                text-align: center;
            }
        </style>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
